<div class="row front-page">
  <h1>Would you like to share information?</h1>
  <div class="customer-queries">
    <div class="info-block col-xs-4">
      <span class="col-xs-3"><i class="fa fa-calendar fa-5x"></i></span>
      <span class="info-title col-xs-9">
        Keep information up-to-date
        <p>
          Sed sit amet velit quis urna aliquam molestie. Sed semper dui metus, vitae condimentum dolor vestibulum vitae. Nullam dignissim commodo odio et porttitor.
        </p>
      </span>
    </div>
    <div class="info-block col-xs-4">
      <span class="col-xs-3"><i class="fa fa-users fa-5x"></i></span>
      <span class="info-title col-xs-9">
        Share with friends and family
         <p>
           Sed sit amet velit quis urna aliquam molestie. Sed semper dui metus, vitae condimentum dolor vestibulum vitae. Nullam dignissim commodo odio et porttitor.
         </p>
      </span>

    </div>
    <div class="info-block col-xs-4">
      <span class="col-xs-3"><i class="fa fa-globe fa-5x"></i></span>
      <span class="info-title col-xs-9">
        Share with the world
         <p>
           Sed sit amet velit quis urna aliquam molestie. Sed semper dui metus, vitae condimentum dolor vestibulum vitae. Nullam dignissim commodo odio et porttitor.
         </p>
      </span>
    </div>
  </div>
</div>