<section class="container front-page">
  <div class="row">
    <h1>Share your knowledge!</h1>
    <div class="customer-queries">
      <div class="info-block col-xs-1"></div>
      <div class="info-block col-xs-5">
        <span class="col-xs-3"><i class="fa fa-users fa-5x"></i></span>
        <span class="info-title col-xs-9">
          Share with friends and family
           <p>
             Sed sit amet velit quis urna aliquam molestie. Sed semper dui metus, vitae condimentum dolor vestibulum vitae. Nullam dignissim commodo odio et porttitor.
           </p>
        </span>

      </div>
      <div class="info-block col-xs-5">
        <span class="col-xs-3"><i class="fa fa-globe fa-5x"></i></span>
        <span class="info-title col-xs-9">
          Share with the world
           <p>
             Sed sit amet velit quis urna aliquam molestie. Sed semper dui metus, vitae condimentum dolor vestibulum vitae. Nullam dignissim commodo odio et porttitor.
           </p>
        </span>
      </div>
      <div class="info-block col-xs-1"></div>
    </div>
  </div>
</section>
