<%= form_for wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter title here ..." %>
  </div>
  <% if current_user.can_privatize_wiki?(wiki) %>
    <div class="form-group">
    <%= f.label :private do %> Private wiki
      <%= f.check_box :private, class: "checkbox" %>
    <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Wiki" %>
    <%= f.text_area :body, rows: 20, class: "form-control", placeholder: "Enter wiki info here ..." %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>

