<div class="container" id="wiki">
  <div class="row links">
    <h1>All Wikis</h1>
    <div class="col-xs-6">
      <% @wikis.each do |wiki| %>
        <div class="title">
          <span class="title-top"><%= link_to wiki.title, wiki %></span>
          <span>
            <small>
              Created by: <%= wiki.user.name %>, <%= time_ago_in_words(wiki.created_at) %> ago
            </small>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

