<div class="container">
  <div class="row">
    <h1>All Wikis</h1>
    <div class="col-xs-8">
      <% @wikis.each do |wiki| %>
        <div class="title">
          <%= link_to wiki.title, wiki %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

