%section.class#wiki-show
  .row
    %h2= render_as_markdown @wiki.title
    .col-md-12
      .col-md-2
      .col-md-8
        - if policy(@wiki).edit?
          = link_to "Edit", edit_wiki_path(@wiki), class: "btn btn-success"
        - if policy(@wiki).destroy?
          = link_to "Delete", @wiki, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this wiki?"}
    .col-md-2
    .col-md-8.wiki-body-container
      = render_as_markdown @wiki.body
    .col-md-2