/*
 * Fonts
*/

$navbar-style: bebas-neue, sans-serif;
$list-font-style: alegreya, serif;
$front-page-heading: league-gothic, sans-serif;
$front-page-text: source-sans-pro, sans-serif;

/*
 * Colors
*/

$red-orange: #C63D0F;
$white: #fff;
$black: #000;
$grey-tint: #c2c2c2;

/*
 * Colors assigned to classes
*/

$navbar-color: $red-orange;
$primary-font-color: $white;
$wiki-font-color: $black;
$list-hover-color: $grey-tint;

