/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "fontawesome/css/font-awesome.css";

@import "_default_styles";

body {
  margin: 0 auto;
}

  .navbar {
    background-color: $navbar-color;
    border-radius: 0;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: -20px;
    border: none;
    font-family: $navbar-style;
    margin-bottom: 0;

    .navbar-nav {
      margin-left: 50px;
      font-size: 2em;
      color: $primary-font-color;

      li {
        padding: 25px;
        a {
          color: $primary-font-color;
        }
      }

      li:hover {
        background-color: #777;
      }
    }

    .user-info {
      margin-top: 35px;
      margin-right: 60px;
      color: $primary-font-color;
      font-size: 1.2em;

      a {
        color: $primary-font-color;
      }
        span {
          margin-left: 10px;

        }
      }

    }

.alert {
  margin-top: 20px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-family: $navbar-style;
  border-radius: 0;
}

@import 'home';
@import 'wikis';



