/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "home";

body {
  margin: 0;
  font-family: alegreya, serif;
  background-color: rosybrown;
}

  .navbar {
    background-color: #C63D0F;
    border-radius: 0;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: -20px;
    border: none;

    .navbar-nav {
      margin-left: 50px;
      font-family: bebas-neue, sans-serif;
      font-size: 2em;
      color: #333333;

      li {
        a {
          padding: 40px;
          color: #333333;
        }
      }

      li:hover {
        background-color: #777;
      }
    }

    .user-info {
      margin-top: 35px;
      margin-right: 60px;
      color: linen;
      font-family: bebas-neue, sans-serif;

      a {
        color: linen;
      }
        span {
          margin-left: 10px;

        }
      }
    }




