/*
 * Fonts
*/

$navbar-style: bebas-neue, sans-serif;
$list-font-style: alegreya, serif;
$front-page-heading: league-gothic, sans-serif;
$front-page-text: source-sans-pro, sans-serif;

/*
 * Colors assigned to classes
*/

$navbar-color: #C63D0F;
$primary-font-color: #fff;
$wiki-font-color: #000;
$list-hover-color: #c2c2c2;

