body {
  margin: 0 auto;
}

.navbar {
  background-color: $navbar-color;
  border-radius: 0;
  font-size: 1.2em;
  margin-left: -20px;
  margin-right: -20px;
  border: none;
  font-family: $navbar-style;
  margin-bottom: 0;

  .navbar-nav {
    margin-left: 50px;
    font-size: 2em;
    color: $primary-font-color;

    li {
      padding: 20px;
      a {
        color: $primary-font-color;
      }
    }


    li.wiki-links:hover {
      background-color: #777;
    }
  }

  .user-info {
    margin-top: 35px;
    margin-right: 60px;
    color: $primary-font-color;
    font-size: 1.2em;

    a {
      color: $primary-font-color;
    }
    span {
      margin-left: 10px;

    }
  }

}

.alert {
  margin-top: 20px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-family: $navbar-style;
  border-radius: 0;
}
