// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-page-defaults {
  font-family: $list-font-style;
  color: $primary-font-color;

  h1 {
    text-align: center;
    font-size: 4em;
  }

  .wiki-display {
    height: 40px;
    margin: 20px auto;
    border-top: 1px solid white;

    span {
      display: block;
    }

    .wiki-title {
      margin-top: 10px;
    }

    a {
      color: $primary-font-color;
      text-decoration: none;

      &:hover {
        color: $list-hover-color;
      }
    }
  }
}

