// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#wiki-all {
  margin-top: 50px;
  font-family: $list-font-style;
  color: $wiki-font-color;

  h1 {
    text-align: center;
    font-size: 4em;
  }

  .wiki-display {
    height: 40px;
    margin: 20px auto;

    span {
      display: block;
    }

    .wiki-title {
      margin-top: 10px;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: #c2c2c2;
      }
    }
  }

  .new-wiki-button {
    a {
      background-color: transparent;
      color: forestgreen;
      border: 1px solid forestgreen;
      border-radius: 0;

      &:hover {
        @include transition(all 0.7s ease-in-out);
        background-color: forestgreen;
        color: #fff;
      }
    }
  }

  .upgrade-button {
    margin-top: 40px;

    a {
      font-size: 1.3em;
      padding: 10px 20px;
      border-radius: 0;
      background-color: transparent;
      color: forestgreen;
      border: 1px solid forestgreen;


      &:hover {
        @include transition(all 0.7s ease-in-out);
        background-color: forestgreen;
        color: #fff;

      }
    }

  }

}

section#wiki-show {
  font-family: $list-font-style;
  color: #000;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .wiki-body-container {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    white-space: pre-wrap;

  }
}

section#wiki-new {
  font-family: $list-font-style;
  color: #000;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

